[user]
	name = Peter
	email = peterlongnguyen@gmail.com
[core]
	excludesfile = ~/.gitignore
[alias]
  unadd = reset HEAD
[color]
  branch = auto
  diff = auto
  status = auto
  interactive = true
[color "branch"]
  current = yellow bold
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  header = magenta
  added = yellow
  changed = green
  untracked = cyan
